automation/input select themes.json
[{"id":"1b9182cc8fccdfc5","type":"tab","label":"input select themes","disabled":false,"info":"","env":[]},{"id":"67f77c8b.68bf64","type":"server-state-changed","z":"1b9182cc8fccdfc5","name":"input Theme","server":"82136dea.a6d7a","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.themes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":280,"wires":[["7af5c1af.bd9df"]]},{"id":"ca9ea279.a9188","type":"api-call-service","z":"1b9182cc8fccdfc5","name":"set Theme","server":"82136dea.a6d7a","version":5,"debugenabled":false,"domain":"frontend","service":"set_theme","areaId":[],"deviceId":[],"entityId":[],"data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":558,"y":280,"wires":[[]]},{"id":"7af5c1af.bd9df","type":"api-render-template","z":"1b9182cc8fccdfc5","name":"get Theme","server":"8c51b0bb.698c3","version":0,"template":"{{ states('input_select.themes') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"payload","templateLocationType":"msg","x":390,"y":280,"wires":[["ca9ea279.a9188"]]},{"id":"6f66da1c.253e94","type":"inject","z":"1b9182cc8fccdfc5","name":"strat HassOS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","x":179,"y":328,"wires":[["519278ea.12c4a8"]],"l":false},{"id":"519278ea.12c4a8","type":"rbe","z":"1b9182cc8fccdfc5","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":227,"y":328,"wires":[["7084ac9d.6f9d54"]],"l":false},{"id":"7084ac9d.6f9d54","type":"switch","z":"1b9182cc8fccdfc5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":275,"y":328,"wires":[["7af5c1af.bd9df"]],"l":false},{"id":"82136dea.a6d7a","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"8c51b0bb.698c3","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]