automation/Light Automation.json
[{"id":"5ffcec7ff7ba60a6","type":"tab","label":"Light Automation","disabled":true,"info":"","env":[]},{"id":"5d7dfb5fc8aeb753","type":"server-state-changed","z":"5ffcec7ff7ba60a6","name":"I turned off the light؟","server":"503fe79f.dd8838","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.smart_switch_lmb_sqf_switch_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":260,"wires":[["971ac4b3e9472d0c"],["9912e9d09f5227f4"]]},{"id":"35b67e2e3112cd69","type":"api-call-service","z":"5ffcec7ff7ba60a6","name":"turn on the lamp","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"brightness","propertyType":"msg","value":"","valueType":"str"}],"queue":"none","x":700,"y":200,"wires":[[]]},{"id":"9912e9d09f5227f4","type":"api-call-service","z":"5ffcec7ff7ba60a6","name":"turn off the lamp","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":380,"wires":[[]]},{"id":"971ac4b3e9472d0c","type":"delay","z":"5ffcec7ff7ba60a6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":160,"wires":[["35b67e2e3112cd69"]]},{"id":"503fe79f.dd8838","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]